[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
twine = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
pandas = "*"
ipython = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
